* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.container section {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-div {
    width: 100%;
    height: 98%;
    background-size: contain;
    background-position: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}


#section1 {
    background-image: url('img/Margarita.jpg');
}

#section2 {
    background-image: url('img/Negroni.jpg');
}

#section3 {
    background-image: url('img/Pina-Colada.jpg');
}
